@import './base.css';
body{
  font-family: 'Arial', sans-serif;
}
.main {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #0084ff, #000438);
    border-radius: 16px;
    margin-left: 50px;
    margin-right: 50px;
}
  .btn {
  background-color: #ffd900;
  border-radius: 15px;
  font-family:'MedievalSharp', cursive;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.kualitas {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.sekolah {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}